body{
    background-color: black;
    color:white;
    font-family: "Lucida Console", "Courier New", monospace;
    max-width: 960px;
    margin: auto;

}
hr{
    width : 25%;
    border-style: dotted;
    border-color: white;
    border-
}
table{
    text-align: center;
}

#first {
    max-width: 960px;
    margin: auto;
}

#second{
    max-width: 960px;
    margin: auto;
}

#wacky{
    font-size: "1";
    color: hotpink;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    font-size: 20px;
}
h1{
    max-width: 960px;
    margin:auto;
    text-align: center;
}